.pad-nav {
  padding-left: 26px;
  padding-right: 26px;
  height: 55px;
}

.garba {
  border-bottom: 1px solid black;
}

.logo {
  float: left;
  width: 82px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 6px;
}

.warna {
  color: #000;
}

.tomSearch {
  top: 10px;
  background-color: #ffffff00;
  border: none;
  border-radius: 50px;
  height: 31px;
  padding: 1px 12px;
  text-decoration: none;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  display: inline-block;
  font-size: 14px;
  /* height: 12px; */
  position: relative;
}

.lengkung {
  border-radius: 50px;
  font-weight: bolder;
}

.tomNav-s {
  height: 34px;
  width: 90px;
  font-size: 14px;
  background-color: rgb(53, 53, 247);
}

.tomNav-s:hover {
  background-color: rgb(0, 0, 196);
}

.tomNav {
  height: 34px;
  width: 80px;
  font-size: 14px;
  border-color: rgba(209, 208, 208, 0.623);
}

.tomNav:hover {
  background-color: #ecebeb;
}

#adobe {
  width: 60px;
}

.icon-cari {
  margin-top: 18px;
  margin-left: 20px;
  color: rgb(163, 163, 163);
}

.pencarian form {
  position: fixed;
  top: 80px;
  border: 1px solid rgb(110, 110, 110);
  height: 53px;
  width: 440px;
  left: 18px;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
}

input[type="text"] {
  width: 240px;
  height: 51px;
  border: 0px solid rgb(255, 255, 255);
  margin-left: 10px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 6px 5px 6px 5px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

#search {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

.jumbotron {
  border: 1px black;
}

.tomGar {
  background-color: white;
  border-color: rgb(199, 198, 198);
  font-size: 14px;
}

.tomGar:hover {
  border-color: rgb(0, 0, 0);
}

.isi-konten:hover .overlay {
  opacity: 1;
}

.card-text {
  color: #000;
  font-weight: bold;
  font-size: 14px;
}

.card-text:hover {
  color: #000;
}

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
}

.icon-view {
  color: rgb(175, 175, 175);
}

.tomOver {
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.582);
  font-weight: 700;
  color: white;
  font-size: 13px;
}

.dev img {
  position: absolute;
  top: 6%;
  left: 85%;
  height: 30px;
  width: 30px;
}

.dev img:hover {
  top: 6%;
  left: 84%;
  height: 40px;
  width: 40px;
}

.feature {
  color: grey;
  font-size: 12px;
  font-weight: 600;
  margin-top: 12px;
  margin-left: 10px;
}

.dev-tool {
  color: rgb(0, 102, 255);
  font-size: 12px;
  margin-top: -10px;
  margin-left: 10px;
}

.tooltip-atas:hover .tooltip-teks {
  visibility: visible;
  text-decoration: none;
}

.tooltipes .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: left;
  border-radius: 6px;
  padding: 5px 0;
  box-shadow: 5px 5px 5px grey;

  /* Position the tooltip */
  position: absolute;
  top: 110%;
  left: 10%;
  z-index: 1;
}
.tooltipes:hover .tooltiptext {
  visibility: visible;
  text-decoration: none;
}

.owner-prof {
  width: 20%;
  border-radius: 50px;
}

@media (min-width: 992px) {
  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 2px solid #000;
    padding-bottom: 13px;
    margin-bottom: -15px;
  }

  .tomSearch:hover {
    background-color: #e2e2e2;
  }

  .pencarian form {
    position: fixed;
    top: 75px;
    border: 1px solid rgb(110, 110, 110);
    height: 53px;
    width: 1310px;
    left: 24px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
  }

  input[type="text"] {
    width: 250px;
    box-sizing: border-box;
    border: 0px solid #ccc;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 6px 5px 6px 5px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  .tomSearch-active {
    top: 10px;
    background-color: rgb(17, 17, 17);
    border: none;
    border-radius: 50px;
    height: 31px;
    padding: 1px 12px;
    text-decoration: none;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
    /* height: 12px; */
    position: relative;
  }

  #cari2 {
    display: none;
  }

  .ikon-drop {
    display: none;
  }

  .sorting {
    position: fixed;
    top: 125px;
    left: 24px;
  }

  .aktif {
    background-color: black;
    color: white;
  }

  .grid-container {
    margin-top: 24px;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "menu1 menu1 menu1 menu2 menu2 menu2 menu3 menu3 menu3 menu4 menu4 menu4";
    padding: 10px;
  }

  .item2 {
    grid-area: menu;
  }

  .card {
    top: 200px;
    left: 12px;
  }

  .card-img-top {
    height: 244px;
    width: 311px;
    border-radius: 5px;
  }

  .card-text {
    color: #000;
    font-weight: bold;
    font-size: 14px;
  }

  .desk {
    font-weight: 600;
    font-size: 11px;
  }

  .owners {
    margin-top: -6px;
    font-size: 12px;
    color: black;
  }
  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 8%;
    left: 16%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: left;
  }

  .overlay {
    position: absolute;
    border-radius: 5px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 86%;
    width: 99%;
    opacity: 0;
    transition: 0.3s ease;
    background-color: rgba(0, 0, 0, 0.192);
  }

  .tomOver {
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.397);
    font-weight: 700;
    color: white;
    font-size: 13px;
  }

  .tomOver:hover {
    background-color: rgba(0, 0, 0, 0.596);
  }

  .tooltip-atas .tooltip-teks {
    visibility: hidden;
    width: 150px;
    background-color: rgb(255, 255, 255);
    text-align: left;
    border-radius: 3px;
    padding-top: 2px;
    box-shadow: 2px 2px 2px rgb(31, 31, 31);

    /* Position the tooltip */
    position: absolute;
    top: 25%;
    left: 46%;
    z-index: 1;
  }
}

@media (max-width: 992px) {
  .sorting {
    display: none;
  }
  .tooltip-atas .tooltip-teks {
    visibility: hidden;
    width: 150px;
    background-color: rgb(255, 255, 255);
    text-align: left;
    border-radius: 3px;
    padding-top: 2px;
    box-shadow: 2px 2px 2px rgb(31, 31, 31);

    /* Position the tooltip */
    position: absolute;
    top: 20%;
    left: 57%;
    z-index: 1;
  }
}

@media (max-width: 575.98px) {
  .tomSearch-active {
    top: 1px;
    left: 0px;
    background-color: rgba(17, 17, 17, 0);
    border: none;
    border-radius: 5px 50px 50px 5px;
    height: 49px;
    width: 130px;
    padding: 1px 30px 1px 1px;
    text-decoration: none;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    display: inline-block;
    font-size: 14px;
    position: relative;
  }

  #cari1 {
    display: none;
  }

  .ikon-drop {
    margin-left: 44px;
  }

  .grid-container {
    margin-top: 24px;
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "menu1";
    padding: 10px;
  }

  .item2 {
    grid-area: menu;
  }

  .card {
    top: 140px;
    left: 25px;
  }

  .card-img-top {
    height: 316px;
    width: 414px;
    border-radius: 5px;
  }

  .card-text {
    color: #000;
    font-weight: bold;
    font-size: 14px;
  }

  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 6%;
    left: 11.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: left;
  }

  .tomOver {
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.397);
    font-weight: 700;
    color: white;
    font-size: 13px;
  }

  .tomOver:hover {
    background-color: rgba(0, 0, 0, 0.596);
  }

  .desk {
    font-weight: 600;
    font-size: 11px;
  }

  .view-desk {
    left: 100px;
  }

  .owners-desk {
    left: 3px;
  }

  .owners {
    margin-top: -6px;
    color: #000;
    font-size: 12px;
  }

  .overlay {
    position: absolute;
    border-radius: 5px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 89%;
    width: 132%;
    opacity: 0;
    transition: 0.3s ease;
    background-color: rgba(0, 0, 0, 0.192);
  }
}
