.pad-nav {
  padding-left: 26px;
  padding-right: 26px;
  height: 55px;
}

.garba {
  border-bottom: 1px solid black;
}

.logo {
  float: left;
  width: 82px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 6px;
}

.warna {
  color: #000;
}

.tomSearch {
  top: 10px;
  background-color: #ffffff00;
  border: none;
  border-radius: 50px;
  height: 31px;
  padding: 1px 12px;
  text-decoration: none;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  display: inline-block;
  font-size: 14px;
  /* height: 12px; */
  position: relative;
}

.tomSearch-active {
  top: 10px;
  background-color: rgb(17, 17, 17);
  border: none;
  border-radius: 50px;
  height: 31px;
  padding: 1px 12px;
  text-decoration: none;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  display: inline-block;
  font-size: 14px;
  /* height: 12px; */
  position: relative;
}

.lengkung {
  border-radius: 50px;
  font-weight: bolder;
}

.tomNav-s {
  height: 34px;
  width: 90px;
  font-size: 14px;
  background-color: rgb(53, 53, 247);
}

.tomNav-s:hover {
  background-color: rgb(0, 0, 196);
}

.tomNav {
  height: 34px;
  width: 80px;
  font-size: 14px;
  border-color: rgba(209, 208, 208, 0.623);
}

.tomNav:hover {
  background-color: #ecebeb;
}

#adobe {
  width: 60px;
}

.icon-cari {
  margin-top: 18px;
  margin-left: 20px;
  color: rgb(163, 163, 163);
}

input[type="text"] {
  /* width: auto; */
  /* box-sizing: border-box; */
  border: 0px solid rgb(255, 255, 255);
  margin-left: 10px;
  font-size: 16px;
  background-color: white;
  /* background-image: url("../img/icon/searchmagnifi.png"); */
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 6px 5px 6px 5px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

#search {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

.sorting {
  position: fixed;
  top: 125px;
  left: 24px;
}

.jumbotron {
  border: 1px black;
}

.tomGar {
  background-color: white;
  border-color: rgb(199, 198, 198);
  font-size: 14px;
}

.tomGar:hover {
  border-color: rgb(0, 0, 0);
}

.item2 {
  grid-area: menu;
}

.grid-container {
  margin-top: 24px;
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "menu1 menu1 menu1 menu2 menu2 menu2 menu3 menu3 menu3 menu4 menu4 menu4";
  padding: 10px;
}

.card {
  top: 200px;
  left: 12px;
}

.card-img-top {
  height: 244px;
  width: 311px;
  border-radius: 5px;
}

.card-text {
  color: #000;
  font-weight: bold;
  font-size: 14px;
}

.desk {
  font-weight: 550;
  font-size: 11px;
}

.owners {
  font-size: 12px;
}

.overlay {
  position: absolute;
  border-radius: 5px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 79%;
  width: 99%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: rgba(0, 0, 0, 0.192);
}

.isi-konten:hover .overlay {
  opacity: 1;
}

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
}

.icon-view {
  color: rgb(175, 175, 175);
}

.tomOver {
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.582);
  font-weight: 700;
  color: white;
  font-size: 13px;
}

nav.fixed-bottom {
  line-height: 10px;
}

@media (min-width: 992px) {
  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 2px solid #000;
    padding-bottom: 13px;
    margin-bottom: -15px;
  }

  .tomSearch:hover {
    background-color: #e2e2e2;
  }

  .pencarian form {
    position: fixed;
    top: 75px;
    border: 1px solid rgb(110, 110, 110);
    height: 53px;
    width: 1310px;
    left: 24px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
  }

  .aktif {
    background-color: black;
    color: white;
  }
}

@media (max-width: 576px) {
  .pencarian form {
    position: fixed;
    top: 75px;
    border: 1px solid rgb(110, 110, 110);
    height: 53px;
    width: 400px;
    left: 18px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
  }
  input[type="text"] {
    width: 250px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 50px 5px 5px 50px;
    font-size: 16px;
    background-color: white;
    /* background-image: url("../img/icon/searchmagnifi.png"); */
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 6px 14px 6px 24px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }

  /* nav.logo {
    src: url("assets/img/behance-logo-b&w.png");
  } */
}
